.frequent-questions {
  position: relative;

  &-container {
    max-width: 1440px;
    padding: 3em 200px 100px 300px;
    margin: auto;

    @media (max-width: $desktop) {
      padding: 3em 100px 100px 100px;
    }
  }

  h2 {
    text-align: left;
    font-size: 3em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: $primary;
    text-shadow: 0px 3px 6px #00000029;
  }

  &-theme {
    margin-top: 1em;

    &-text {
      cursor: pointer;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 5px 8px 7px #000000CF;
      border: 1px solid #BEBEBE;
      border-radius: 10px;
      height: 60px;
      padding-left: 1em;
      width: 100%;
      display: flex;
      align-items: center;
      transition: all .5s ease;

      &::before {
        content: '';
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 5px 8px 7px #000000CF;
        border: 1px solid #BEBEBE;
        position: absolute;
        z-index: -1;
        width: 0;
        height: 60px;
        left: 50vw;
        right: 0;
        transition: all .2s ease;
      }

      //height: 100%;
      &--open {
        box-shadow: none;

        span {
          z-index: 1;
        }

        svg {
          transform: rotate(90deg);
          width: 1.2em;
          margin-right: .2em;
          fill: #606060;
        }


        &::before {
          content: '';
          background: #FFFFFF 0% 0% no-repeat padding-box;
          box-shadow: 5px 8px 7px #000000CF;
          border: 1px solid #BEBEBE;
          position: absolute;
          z-index: 0;
          width: 100vw;
          height: 60px;
          left: 0;
          right: 0;
        }
      }
    }

    text-align: left;
    font-style: italic;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0px;
    color: #606060;

  }

  &-sub-item {
    margin-top: 1em;
    transition: all 1s ease;
  }

  &-question {
    margin-top: .5em;

    &-text {
      cursor: pointer;
      padding: 0 1em;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 5px 8px 7px #000000CF;
      border: 1px solid #BEBEBE;
      border-radius: 10px;
      width: 100%;
      display: flex;
      font-size: 18px;
      text-transform: none;
      align-items: center;
      height: 60px;
    }
  }

  &-answer {
    background: $bkg-gray 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    margin-left: -1em;
    margin-top: 1em;
    font-size: 16px;
    min-height: 120px;
    font-weight: 600;
    padding: 1em;
    text-transform: none;
    width: 100%;
    @include fade-in;
  }

  @media (max-width: $medium) {
    &-container {
      padding: 2em 2em;

      h2 {
        font-size: 2em;
        text-align: center;
      }
    }

    &-theme {
      &-text {
        span {
          font-size: x-large;
        }
      }

      .frequent-questions-question-text {
        min-height: 60px;
        height: auto;
        padding: 1em;
      }
    }
  }
}