.course-profile {

  &-container {
    max-width: 1440px;
    padding: 4em 200px 100px 300px;
    margin: auto;
  }

  &-banner {
    display: flex;
    margin-bottom: 6em;
    //margin-top: 6em;

    >img {
      width: 50%;
    }

    >div {
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 3em;
      }

      >p {
        margin-bottom: 1em;
        color: #585858;
      }
    }
  }

  &-text {
    column-count: 1;
    column-gap: 80px;
    color: #585858;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px auto;

    >div {
      flex-basis: 30%;
    }
  }

  @media (max-width: $desktop) {
    &-container {
      padding: 3em 200px 100px 200px;
    }
  }

  @media (max-width: $medium) {
    &-container {
      padding-left: 5em;
      padding-right: 4em;
    }
  }

  @media (max-width: $tablet) {
    &-container {
      padding: 0 2em;
      overflow: auto;
    }

    &-banner {
      flex-direction: column;
      margin-top: 2em;
      margin-bottom: 4em;

      >img {
        width: 100%;
        max-height: 220px;
      }

      >div {
        margin-left: 0;
        text-align: center;

        h1 {
          font-size: 2em;
        }

        >a {
          margin: auto;
        }
      }
    }

    &-text {
      column-count: 1;
      text-align: center;
    }

    &-cards {
      margin-bottom: auto;
      margin-top: 3em;

      >div {
        margin-bottom: 2em;

      }
    }
  }
}