.events {
  padding-bottom: 5%;

  &-container {
    max-width: 1440px;
    padding-left: 300px;
    margin: auto;
  }

  .welcome-banner {
    margin: auto;
    max-width: 1440px;
    background: $bkg-gray;
    height: 80px;

    p {
      max-width: 720px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 80px;
      background: $bkg-gray;
    }

    > div {
      text-align: left;
      margin: auto;
      overflow: auto;
      height: 100%;
      position: relative;
    }

    h2 {
      color: $primary;
      text-transform: uppercase;
      text-shadow: 0px 3px 6px #00000029;
      font-size: 2.5em;
      margin: 20px 0 10px;
    }

    p {
      font-weight: 600;

      span {
        font-weight: 800;
        font-style: italic;
      }
    }
  }

  .calendar {
    &-event {
      width: 100%;
      padding: 8px 10px 25px 10px;
      background-color: transparent;
      background-image: linear-gradient(to right, black 50%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 30px 1px;
      background-repeat: repeat-x;
      border-width: 2px;
      border-color: black;

      div {
        padding: 0 0.3em;
      }

      &-hour {
        font-size: 14px;
        font-weight: 600;
      }
      &-description {
        font-size: 11px;
        font-weight: 500;
        line-height: 1.3em;
      }

      &-link {
        display: flex;
        justify-content: center;
        margin-top: 0.5em;

        a {
          background-color: #eb6107;
          padding: 10px;
          color: #fff;
          font-size: 10px;
          font-weight: bold;
        }
      }

      &-title {
        background-color: #df8042;
        border-radius: 10px;
        padding: 3px 7px !important;
        line-height: 0.8em;

        span {
          font-size: 10px;
          color: #fff;
          font-weight: 600;
        }
      }
    }

    &-header {
      display: flex;
      flex-direction: column;
      padding: 5% 0;

      .day-text {
        font-size: 14px;
        text-transform: capitalize;
        color: #606060;
      }

      .day-number {
        font-size: 50px;
        color: #eb6107;
        font-weight: lighter;
      }
    }

    &-toolbar {
      background-color: #dcdcdc;
      display: flex;
      flex-direction: row;

      &-container {
        max-width: 1440px;
        margin: auto;
        display: flex;
        flex: 1;
        align-items: flex-end;
        padding: 15px 4%;

        .date-label {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;

          span {
            text-transform: uppercase;
            font-size: 23px;
          }
        }
      }
    }
  }

  .rbc-timeslot-group,
  .rbc-allday-cell,
  .rbc-current-time-indicator,
  .rbc-time-header-gutter {
    display: none;
  }

  .rbc-events-container {
    margin-right: 0px;
  }

  .rbc-time-view {
    padding: 0px 8%;
    border: 0px;
    max-width: 1440px;
    margin: auto;

    .rbc-time-content,
    .rbc-time-header {
      border: 1px solid #707070;
      border-top-width: 0px;
    }
  }

  .icon-next {
    transform: rotate(-90deg);
  }

  .icon-back {
    transform: rotate(90deg);
  }

  .rbc-timeslot-group {
    border: 0px;
  }

  /* .rbc-time-content {
    &::-webkit-scrollbar {
      width: 10px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border: 10px solid transparent;
      border-radius: 9px;
      background-clip: content-box;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #b3b3b3;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
  } */

  &-video {
    position: relative;

    &-container {
      background: white;
      box-shadow: 5px 8px 7px #000000cf;
      padding: 0 5em;
      height: 90vh;
      border-radius: 30px;
      @include flex-center;
      flex-direction: column-reverse;

      p {
        margin-top: 3em;
        margin-bottom: 1em;
        padding: 0 2em;
        font-weight: 500;
        width: 100%;
      }
    }

    .bkg-iframe,
    iframe {
      border-radius: 30px;
      width: 100%;
      height: 40%;
      background-color: #eee;
    }

    .bkg-iframe {
      @include flex-center;
      width: 640px;
      height: 360px;
      position: absolute;
      background: white;
      box-shadow: 5px 8px 7px #000000cf;
      border: 1px solid #bebebe;

      svg {
        width: 110px;
        cursor: pointer;
      }
    }
  }

  @media (max-width: $desktop) {
    &-container {
      padding-left: 200px;
    }
  }

  @media (max-width: $medium) {
    &-container {
      padding-left: 0;
      padding: 0 2em;
      overflow: hidden;
    }

    .welcome-banner {
      padding: 0 2%;
      padding-left: 0;

      h2 {
        text-align: center;
        font-size: 2em;
      }

      p {
        text-align: center;
        font-size: smaller;
        margin: auto;
      }
    }

    &-video {
      width: 100vw;

      .bkg-iframe,
      iframe {
        border-radius: 10px;
        height: 200px !important;
        width: 90vw !important;
      }

      .bkg-iframe svg {
        width: 80px;
      }

      &-container {
        height: 80vh;
        padding: 0;
        flex-direction: column-reverse;

        > div > div {
          height: auto !important;
        }

        > div > div > div {
          @include flex-center;
        }

        p {
          margin: 0 2em 2em;
          padding: 0 1em;
        }
      }

      iframe {
        margin: auto;
      }
    }
  }

  @media (min-width: $tablet) {
    .calendar {
      display: block;
    }

    .calendar-responsive {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    .calendar {
      display: none;
    }

    .calendar-responsive {
      display: block;
    }
  }
}
