$font: 'Montserrat',
sans-serif;
$primary: #eb6107;
$secondary: #999;
$bkg-gray: #f3f3f3;

//Breakpoints
$desktop: '1367px';
$laptop: '1220px';
$medium: '1025px';
$tablet: '770px';
$mobile: '451px';

//colors