.files-modal {
  background: $bkg-gray 0% 0% no-repeat padding-box;
  box-shadow: 4px 8px 6px #00000029;
  border-radius: 20px;
  overflow: auto;

  &-container {
    margin: 2em 3em;

    h2 {
      margin-bottom: 1em;
    }

    >div {
      margin-top: 1em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: .5em 1em;
      border: 1px solid #cccccc;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background: darken($bkg-gray, 5%)
      }

      p {
        margin-left: 1em;
        max-width: 320px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      svg {
        width: 2em;
      }
    }
  }
}