.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  p {
    font-size: 27px;
    color: $primary;
    font-weight: 500;
    border-bottom: 2px solid $primary;
  }

  form#normal_login {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    flex-direction: column;

    .username {
      margin-bottom: 50px;
    }

    .password {
      .ant-form-item-explain.ant-form-item-explain-error {
        padding-top: 15px;
      }
    }

    .ant-form-item-explain.ant-form-item-explain-error {
      color: #ff4352;
      font-size: 14px;
      font-style: italic;
    }

    .ant-row.ant-form-item.username,
    .ant-row.ant-form-item.password {
      display: flex;
      height: 45px;
      width: 100%;

      .ant-col.ant-form-item-control,
      .ant-form-item-control-input,
      .ant-form-item-control-input-content,
      input#normal_login_username,
      input#normal_login_password {
        display: flex;
        flex-direction: column;
        font-size: 22px;
        font-weight: 500;
        gap: 10px;
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: transparent;
        color: $primary;
      }

      .ant-form-item-control-input-content {
        border-bottom: 1px solid $btn-line-form;
        height: 40px;
      }
    }
    .span {
      color: $login-links;
      font-weight: 400;
      font-size: 15px;
      padding-bottom: 40px;
      a.login-form-forgot {
        color: $btn-line-form;
        font-size: 15px;
        font-style: italic;
        text-decoration: underline;
      }
    }

    .ant-row.ant-form-item.btn-login {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .ant-form-item-control-input,
      .ant-form-item-control-input-content,
      button {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
      }

      button.ant-btn.ant-btn-primary.login-form-button {
        background-color: $btn-line-form;
        border: 1px solid $border-btn;
        border-radius: 14px;
        color: $primary;
        font-size: 27px;
        height: 52px;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
    }

    .ant-form-item-control-input-content {
      color: $login-links;
      font-weight: 500;
      font-size: 15px;
      flex-direction: column;

      a {
        font-size: 15px;
        color: $btn-line-form;
        font-style: italic;
      }
    }
  }
}
