.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 1000px;
  width: 100%;

  &_logo {
    @include flex-center;
    padding-top: 45px;
    height: 200px;
    width: 90%;
    border-bottom: 2px solid $line-logo;
  }

  &_content {
    display: flex;
    padding-top: 4%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}
