.profile-lesson {
  display: flex;
  flex-direction: column;
  width: 90%;
  .title{
    &_box{
      color: #fff;
      
      h1{
        font-style: italic;
        font-weight: 500;
        margin-bottom: 10px;
      }
      h2{
        font-weight: 400;
        font-size: 20px;
      }
      
    }
  }

  .player-wrapper{
    height: 760px;
    .video-p{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      p{
        padding-bottom: 20px;
        color: #ffff;
        font-weight: 500;
      }
    }
  }
}