.module-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 5px 8px 7px #000000CF;
  border: 1px solid #BEBEBE;
  border-radius: 10px;
  padding: 1em 2em .5em;
  cursor: pointer;

  >div {
    display: flex;

    >svg {
      width: 2em;
      margin-right: 1em;
    }

    >p {
      padding-right: 100px;
      color: #676767;
      width: 100%
    }
  }



  &--success {
    border-bottom: 1px solid #3bb54a;
    background-color: #3bb54a26;
    cursor: pointer;

    svg path {
      fill: #3bb54a;
    }

    .ant-progress-bg {
      background-color: #3bb54a !important;
    }
  }

  &--disabled {
    @include is-disabled;
  }

  .ant-progress {
    align-self: center;
    width: 100%;
    max-width: 180px;
    line-height: 0;
    @include flex-center;
    flex-direction: row-reverse;

    &-outer {
      min-width: 140px;
    }

    &-text {
      margin-right: .5em;
      width: auto;
      color: #676767;
      font-size: medium;
      font-weight: 600;
    }
  }

  @media (max-width: $tablet) {
    flex-direction: column;
    padding-right: 1em;
    padding-left: 1em;

    >div {
      margin-bottom: 1em;

      p {
        padding-right: 0;
      }
    }

    .ant-progress {
      flex-direction: column-reverse;


      &-outer {
        padding-right: 0;
        margin-right: 0;
      }

      &-text {
        margin-bottom: 5px;
        font-size: x-large;
      }
    }
  }
}