.module {
  position: relative;

  &-container {
    max-width: 1440px;
    margin: 3em auto 5em;
  }

  p {
    color: #3E3E3E;
  }

  &-header {
    padding-left: 100px;
    padding-bottom: 1em;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      z-index: 0;
      width: 100%;
      top: 66px;
      border-bottom: 1px solid #707070;
    }

    p {
      margin-top: .5em;
    }
  }

  &-content {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
  }

  &-list {
    flex-basis: 40%;

    &-header {
      display: flex;
      justify-content: space-between;
      margin: 1em 0 .5em;

      svg {
        display: none;
      }
    }

    &-items {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      box-shadow: 5px 8px 7px #000000CF;
      border: 1px solid #BEBEBE;
      border-radius: 5px;

      >p {
        padding: 1em .5em .5em 1em;
        border-bottom: 1px solid #707070;
      }
    }
  }

  &-item {
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: start;

    .profile-lesson-video .bkg-iframe {
      margin-top: 0;
    }
  }

  @media (max-width: $medium) {

    &-container {
      margin: 1em 2em 5em;
    }

    &-header {
      padding-left: 0;
      text-align: center;
    }

    &-content {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
    }

    &-list {
      flex-basis: 40%;
      height: auto;

      &-header {
        @include fade-in;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        height: 45px;
        background: #FFFFFF;
        box-shadow: 5px 8px 7px #000000CF;
        border: 1px solid #BEBEBE;
        border-radius: 10px;
        cursor: pointer;

        p {
          font-size: large;
        }

        >div {
          display: flex;
        }

        svg {
          display: inline-block;
          width: 1.5em;
          margin-left: .5em;
          transform: rotate(90deg);
          transition: all .5s ease;
        }
      }

      &-items {
        max-height: 0;
        overflow: hidden;
        box-shadow: none;
        border: none;
        transition: all .5s ease-out;
      }

      &-open {

        .module-list-header svg {
          transform: rotate(0);
        }

        .module-list-items {
          transition: all 1s ease-in-out;
          max-height: 1000px;
          height: auto;
          box-shadow: 5px 8px 7px #000000CF;
          border: 1px solid #BEBEBE;
        }
      }
    }

    &-item {
      h2 {
        text-align: center;
      }

      p {
        text-align: center;
      }

      .profile-lesson-video {
        >div:nth-child(2) {
          height: 200px !important;
        }

        >div>div {
          width: 100vw !important;
          height: 300px !important;
          display: flex;

          iframe {
            margin: 0 auto;
          }
        }

        .bkg-iframe {
          margin: 0 5vw;

          >div {
            width: 80px !important;
            height: 80px !important;
          }
        }
      }
    }

  }
}