.tool-list {
  &-banner {
    margin: auto;
    max-width: 1440px;
    height: 300px;
    padding-left: 300px;
    padding-right: 200px;
    overflow: scroll;

    p {
      max-width: 720px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 300px;
      background: linear-gradient(270deg, #ffffff00 0%, #000000cc 60%) 0% 0% no-repeat padding-box,
        url("../../../../assets/tutorial-banner.jpg");
      background-size: cover;
    }

    &-title {
      position: relative;
      color: $primary;
      text-transform: uppercase;
      text-shadow: 0px 3px 6px #00000029;
      font-size: 2em;
      padding: 0.5em 0 0 0;
      font-weight: 500;
      span {
        border-bottom: 2px solid $primary;
      }
    }

    &-description {
      position: relative;
      text-align: left;
      font-size: medium;
      width: 45%;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
      margin: 1em 0;

      @media (max-width: $mobile) {
        width: 100%;
      }

      @media (max-width: $tablet) {
        width: 90%;
      }
    }

    @media (max-width: $desktop) {
      padding-left: 5em;
      padding-right: 5em;
    }

    @media (max-width: $tablet) {
      padding-left: 2em;
      padding-right: 2em;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 300px;
        background: linear-gradient(270deg, #ffffff00 0%, #000000aa 0%) 0% 0% no-repeat padding-box,
          url("../../../../assets/tutorial-banner.jpg");
        background-size: cover;
      }
    }

    @media (max-width: $mobile) {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  &-container {
    transition: all 1s ease;
    max-width: 1440px;
    padding-left: 300px;
    padding-right: 200px;
    margin: auto;
    margin-top: 2em;

    @media (max-width: $desktop) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &-title {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
    margin-bottom: 1em;

    > div {
      @include flex-center;

      h2 {
        margin-left: 1em;
      }

      svg {
        transform: rotate(90deg);
        width: 1.2em;
        margin-right: 0.5em;
        display: none;
      }
    }

    .icon-back {
      svg {
        display: flex;
      }

      h2 {
        margin-left: 0;
      }
    }

    svg {
      transform: rotate(0);
      transition: all 0.2s ease-in;
    }

    .open-arrow {
      transform: rotate(-180deg);
    }
  }

  &-cards {
    @include fade-in;
  }

  &-content {
    padding: 0 1em 0 2em;
    margin-bottom: 2em;
  }

  &-card {
    display: flex;
    cursor: pointer;
    align-items: center;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 5px 8px 7px #000000cf;
    border: 1px solid #bebebe;
    border-radius: 10px;
    height: 60px;
    font-size: x-large;
    margin-bottom: 1em;

    p {
      font-size: 27px;
      letter-spacing: 0px;
      color: #676767;
    }

    svg {
      width: 22px;
      height: 22px;
      margin: 0 1em;

      &:last-child {
        margin-left: auto;
      }
    }
  }

  .profile-lesson-video-container {
    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 640px;
      margin: 0.8em auto;

      h2 {
        flex-grow: 1;
        margin-right: 1em;
        font-size: 1.2em;
      }

      svg {
        width: 3.5em;
      }
      @media (max-width: $medium) {
        width: 90vw;
      }
    }

    p {
      margin-top: 1.5em;
    }
  }

  @media (max-width: $medium) {
    &-container {
      padding-left: 1em;
      padding-right: 1em;
    }

    .profile-lesson-video-container {
      height: auto !important;
      margin: 3%;
      padding: 3%;
    }

    &-title {
      font-size: larger;

      > div {
        svg {
          width: 1.2em;
        }
      }

      svg {
        width: 1.5em;
      }
    }

    &-card {
      font-size: medium;

      p {
        font-size: large;
      }

      svg {
        margin: 0 0.5em;
      }
    }
  }
}
