header {
  .header {
    max-width: 1440px;
    margin: auto;
    display: flex;
    height: 120px;

    &-responsive {
      display: none;
    }

    >div {
      @include flex-center;
    }

    &-logo {
      @include flex-center;
      width: 300px;
      min-width: 300px;
    }

    .select-lng {
      margin: 0 1em;
      font-weight: bolder;
      cursor: pointer;

      span {
        font-weight: lighter;
      }

      &-en {
        span:first-child {
          font-weight: bolder;
        }
      }

      &-es {
        span:last-child {
          font-weight: bolder;
        }
      }
    }

    &-links {
      text-align: center;
      width: 100%;

      span {
        font-weight: 600;
      }

      .tab-active {
        border: none;
        position: relative;
        background: transparent;
        outline: none;
        border-left: 1px solid #000;

        span {
          font-weight: 800;
          color: white;
        }

        &:before {
          position: absolute;
          content: '';
          width: calc(100% - 1em);
          z-index: -1;
          height: 1000%;
          bottom: -20px;
          left: .5em;
          background: $primary;
          transition: all .5s ease;
        }
      }

      >a {
        position: relative;
        padding: .5em 1.2em;
        border-left: 1px solid #000;
        color: #000;
        font-size: smaller;
        text-transform: uppercase;
        z-index: 0;

        &:hover {
          font-weight: normal;
        }

        &:first-child {
          border: none;
        }
      }

      .link-calendar {
        height: 2em;

        img {
          max-height: 2em;
          transform: translate(0, -25%);
        }
      }
    }

    &-sign {
      width: 200px;
      margin-left: auto;
    }
  }

  @media (max-width: $desktop) {
    .header-logo {
      width: 200px;
      min-width: 200px;
    }
  }

  @media (max-width: $medium) {
    .header {
      display: none;
    }

    .header-responsive {
      height: 80px;
      display: flex;
      align-items: center;
      padding: 0 2em;
      transition: all 1s ease;

      >svg {
        width: 20px;
      }

      &-logo {
        text-align: center;
        width: 100%;
        height: 110%;
      }

      .select-lng {
        font-weight: bolder;
        cursor: pointer;
        transition: all .5s ease-in;
      }
    }

  }
}