.profile-lesson {
  margin-top: 40px;

  &-video {
    position: relative;

    &-container {
      background: white;
      box-shadow: 5px 8px 7px #000000cf;
      padding: 2em 5em;
      overflow: auto;
      border-radius: 30px;
      @include flex-center;
      flex-direction: column-reverse;

      p {
        margin-top: 3em;
        margin-bottom: 1em;
        padding: 0 2em;
        font-weight: 500;
        width: 640px;
      }
    }

    .bkg-iframe,
    iframe {
      border-radius: 30px;
      width: 100%;
      height: 100%;
      background-color: #000;
    }

    .bkg-iframe {
      @include flex-center;
      @include fade-in;
      position: relative;
      width: 640px;
      height: 360px;
      position: absolute;
      background: #000000;
      margin-top: -3em;
      box-shadow: 5px 8px 7px #000000cf;
      border: 1px solid #000000;

      svg {
        width: 70px;
        height: auto;
        cursor: pointer;
        color: #c92335;
      }
    }
  }

  &-data {
    max-width: 80%;
    margin-left: 22px;

    &-text {
      margin-top: 3em;

      > p {
        font-size: smaller;
        margin-top: 1em;
        margin-bottom: 1.5em;
      }

      .p-top {
        margin-bottom: 2em;
        font-size: medium;
      }
    }

    &-btns {
      display: flex;

      a {
        margin-right: 3em;
      }
    }
  }

  @media (max-width: $medium) {
    &-video {
      width: 100vw;

      > div {
        height: 200px !important;
      }

      .bkg-iframe,
      iframe {
        border-radius: 10px;
        height: 200px !important;
        width: 90vw !important;
      }

      .bkg-iframe svg {
        width: 80px;
      }

      &-container {
        height: 80vh;
        padding: 0;
        flex-direction: column-reverse;

        > div > div {
          height: auto !important;
        }

        > div > div > div {
          width: 100vw !important;
          margin: 0 auto;
          text-align: center;
        }

        p {
          width: 90vw;
          margin: auto;
          padding: 0 1em;
          text-align: center;
        }
      }

      iframe {
        margin: auto;
        background-color: #000;
      }
    }

    &-data {
      max-width: 100%;

      &-text {
        margin: 3em 1em 0;

        h1 {
          font-size: x-large;
        }

        p {
          text-align: left;
        }

        .p-top {
          margin-bottom: 1em;
        }
      }

      &-btns {
        justify-content: center;

        a {
          margin-right: 0;
        }
      }
    }
  }
}
