.list-courses {
  display: flex;

  .content-player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      height: 80px;
      margin-top: 50px;
      border-bottom: 2px solid #00a715;

      .logo {
        display: flex;
        width: 20%;

        img {
          width: 200px;
        }
      }

      button {
        background: transparent;
        color: #00a715;
        height: 30px;
      }
    }
  }

  .content-modules {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid #ffffff;

    .logo-dv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 165px;
      box-shadow: 0px 6px 6px #ffffff29;
    }

    .mod-box {
      display: flex;
      justify-content: center;
      height: 55%;

      .modules {
        display: flex;
        flex-direction: column;
        height: 100%;

        .ant-collapse.ant-collapse-icon-position-right {
          background: transparent;
          color: #ffff;
          height: 100%;
          border: transparent;

          .ant-collapse-item {
            border-bottom: 1px solid #00aa16 !important;

            .ant-collapse-header {
              color: #fafafa !important;
              font-weight: 600;
              font-size: 18px;
            }

            .ant-collapse-content.ant-collapse-content-active {
              background: transparent;
              color: #b9b9b9;
              line-height: 25px;
              font-weight: 400;
              font-size: 13px;
              font-style: italic;
            }
          }
        }
      }
    }

    .social-media {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 200px;
      box-shadow: 0px -6px 6px #ffffff29;
    }
  }
}
