.list-courses {
  display: flex;

  .content-player {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      height: 80px;
      margin-top: 50px;
      border-bottom: 2px solid $line-logo;

      .logo {
        display: flex;
        width: 20%;

        img {
          width: 200px;
        }
      }

      button {
        background: transparent;
        color: $line-logo;
        height: 30px;
      }
    }
  }

  .content-modules {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid $primary;
    background-color: #000000;
    height: auto;

    .logo-dv {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 165px;
      box-shadow: 0px 6px 6px #ffffff29;
    }

    .mod-box {
      display: flex;
      justify-content: center;
      height: 55%;

      .modules {
        display: flex;
        flex-direction: column;
        height: 100%;

        .ant-collapse-content-box {
          padding: 16px;
          gap: 10px;
          display: flex;
          flex-direction: column;
        }

        .ant-collapse.ant-collapse-icon-position-right {
          background: transparent;
          color: $primary;
          height: 100%;
          border: transparent;
          display: flex;
          flex-direction: column;
          align-items: center;

          .ant-collapse-item {
            border-bottom: 2px solid $btn-line-form !important;
            width: 90%;

            .ant-collapse-header {
              color: $primary !important;
              font-weight: 600;
              font-size: 20px;
              padding: 12px 0;
              padding-right: 25px;

              span.anticon.anticon-right.ant-collapse-arrow {
                font-size: 14px;
                right: 5px;
              }
            }

            .ant-collapse-content.ant-collapse-content-active {
              background: transparent;
              color: $social;
              line-height: 22px;
              font-weight: 400;
              font-size: 14px;
              font-style: italic;
              border-top: 2px solid #00aa16 !important;
            }
          }
        }
      }
    }

    .social-media {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 200px;
      box-shadow: 0px -6px 6px #ffffff29;

      .social-buttons {
        height: 60%;
      }
    }
  }
}
