.profile-module {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 5px 8px 7px #000000CF;
  border: 1px solid #BEBEBE;
  border-radius: 30px;
  max-width: 450px;
  padding: 2em;
  margin-top: 60px;

  >p {
    margin-top: 2em;
    font-size: smaller;
    margin-top: 1em;
    margin-bottom: 3em;
  }

  .p-top {
    margin-bottom: 2em;
    font-size: medium;
  }

  a {
    margin: auto;
  }
}